@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
body {
  font-family: 'Open Sans';
  background-color: rgb(209, 203, 203);
}
h1{
  font-family: 'poppins';
  color: #4B5D67
}
a{
  font-weight: bold;
  text-decoration: none;
  color:#5790af
}
a:hover {
 color:#1377ad
}

.card-white{
  background-color: white;
  padding: 24px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 500px;
  margin: 24px auto;
  text-align: center;
  border-radius: 4px;
}

.img-circle {
  width: 100px;
  border-radius: 50%;
}

.btn-blue {
  background-color:rgb(209, 203, 203);
  color: white;
  padding: 8px 24px;

}

.btn-blue:hover {
  background-color:rgb(173, 166, 166);
  color: white;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 32px;
  color: rgb(220,220,220);
  margin: 8px 8px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
